//颜色

@color_main : #ff74b1;            //主色
@color_main_dark : #ff4a9b;       //主色深


@color_border: #efefef;           //边框颜色 浅
@color_border_dark: #d6d6d6;      //边框颜色 深

@color_blue: #4cafeb;             //蓝色
@coloe_blue_dark : #43a7e3;       //蓝色 深

@color_green: #68bd0e;             //绿色
@coloe_green_dark : #68b30e;       //绿色 深



//字体
@font_def : '宋体'; //默认字体