/* 表格基本样式*/
.table {
    border: 1px solid #e3e4e6;
    border-bottom: none;
    width:100%;
    border-collapse:collapse;
    border-spacing:0;
}
.table th {
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #333;
    background-color: #f7f8fa;
    font-weight: normal;
    border-bottom: 1px solid #f0f0f0;
}
.table td{
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
    color: #333;
    border-bottom: 1px solid #f0f0f0;
}
.table tr:hover{
    background-color:#f7f8fa;
}