/* 按钮 */
.btn{
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    width: 90px;
}
.btn:hover,.btn-ico-s:hover,.btn-ico-m:hover,.btn-ico-l:hover{opacity: 0.85;filter: alpha(opacity=85);}

.btn-ls{
    line-height: 28px;
}
.btn-s{
    line-height: 32px;
}
.btn-m{
    width: 100px;
    font-size: 16px;
    line-height: 36px;
}
.btn-l{
    width: 110px;
    font-size: 18px;
    line-height: 40px;
}

.btn-blue{background-color: #4cafeb;}
.btn-red{background-color: #ff73b2;}

.btn-ico-s,.btn-ico-m,.btn-ico-l{
    display: inline-block;
    color: #ffffff;
    border-radius: 3px;
    text-align: left;
    width: auto;
    padding-right: 10px;
}
.btn-ico-s i,.btn-ico-m i,.btn-ico-l i{
    display: inline-block;
    float: left;
    border-radius: 3px;
    background: url(img/btn-ico-1.png) no-repeat center center;
}
.btn-ico-s{
    line-height: 28px;
}
.btn-ico-m{
    line-height: 36px;
    font-size: 16px;
}
.btn-ico-l{
    line-height: 40px;
    font-size: 18px;
}
.btn-ico-s i{
    width: 28px;
    height: 28px;
}
.btn-ico-m i{
    width: 36px;
    height: 36px;
}
.btn-ico-l i{
    width: 40px;
    height: 40px;
}
