/* 分页 */
.page {
    span {
        float: left;
        height: 38px;
        line-height: 38px;
        display: block;
        padding-right: 9px;
    }
    a {
        border: 1px solid #e5e3e5;
        text-align: center;
        line-height: 32px;
        color: #666;
        background: #fff;
        cursor: pointer;
        display: block;
        float: left;
        margin-left: 5px;
        width: 32px;
        height: 32px;
        padding: 0;
    }
}

.page a:hover, .page a.active {
    border-color: #ff73b2;
    text-decoration: none;
    background: #ff73b2;
    color: #fff;
}